body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222222;
}

header {
  background-color: #1f2937;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 44px;
}

h2 {
  color: #1f2937;
}
p {
  line-height: 1.6;
}

section {
  background-color: white;
}

footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
}